.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons.typed {
    margin-top: 2px;
}

.undo {
    background-image: url("../icons/undo.svg");
}

.undo:hover {
    background-image: url("../icons/undo_thick.svg");
}

.reset {
    background-image: url("../icons/reset.svg");
}

.reset:hover {
    background-image: url("../icons/reset_thick.svg");
}

.clear {
    background-image: url("../icons/delete.svg");
}

.clear:hover {
    background-image: url("../icons/delete_thick.svg");
}

.add {
    background-image: url("../icons/add_text.svg");
    margin-right: auto;
}

.add:hover {
    background-image: url("../icons/add_text_thick.svg");
}

#redeem {
    width: 50px;
    height: 50px;
    background-image: url("../icons/redeem.svg");
    background-size: 50px 50px;
}

#redeem:hover {
    background-image: url("../icons/redeem_thick.svg");
}

#redeem > img {
    width: 30px;
    height: 30px;
}

#handwriting-error {
    float: left;
}

#typed_error {
    float: left;
}