@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri\ Regular.ttf");
}

@font-face {
    font-family: 'Bethlove';
    src: url("../fonts/Bethlove.ttf");
}

@font-face {
    font-family: 'Chasing Hearts';
    src: url("../fonts/Chasing\ Hearts.ttf");
}

@font-face {
    font-family: 'Hello Valentine';
    src: url("../fonts/Hello\ Valentine.ttf");
}

@font-face {
    font-family: 'Love Letters';
    src: url("../fonts/Love\ Letters.ttf");
}

@font-face {
    font-family: 'Lovely Valentine';
    src: url("../fonts/Lovely\ Valentine.ttf");
}


.buttons {
    display: flex;
    justify-content: flex-end;
}

.undo {
    background-image: url("../icons/undo.svg");
}

.undo:hover {
    background-image: url("../icons/undo_thick.svg");
}

.clear {
    background-image: url("../icons/delete.svg");
}

.clear:hover {
    background-image: url("../icons/delete_thick.svg");
}

#id_recipient_id {
    width: 280px
}

#redeem {
    width: 50px;
    height: 50px;
    background-image: url("../icons/add.svg");
    background-size: 50px 50px;
}

#redeem:hover {
    background-image: url("../icons/add_thick.svg");
}

#redeem > img {
    width: 30px;
    height: 30px;
}

#handwriting-error {
    float: left;
}

#typed_error {
    float: left;
}