table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid;
    padding: 3px;
}

.tickets_pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}