body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

h1, h2, h3, p {
    margin: 0 0 5px
}

select {
    background-color: white;
    color: black;
    -webkit-appearance: none;
    background-image: url("dropdown.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: right center;
}

button {
    background: none;
    border: none;
}

span {
    border: none;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

.info {
    font-style: italic;
    font-size: small;
}

.input > input, select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 20px 3px 5px;
}

div.input {
    margin-top: 15px;
}

p.error {
    color: red;
}

#id_recipient_id {
    width: 280px
}

#buttons {
    display: flex;
    justify-content: flex-end;
}

#undo {
    background-image: url("undo.svg");
}

#undo:hover {
    background-image: url("undo_thick.svg");
}

#clear {
    background-image: url("delete.svg");
}

#clear:hover {
    background-image: url("delete_thick.svg");
}

#redeem {
    width: 50px;
    height: 50px;
    background-image: url("add.svg");
    background-size: 50px 50px;
}

#redeem:hover {
    background-image: url("add_thick.svg");
}

#redeem-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#redeem > img {
    width: 30px;
    height: 30px;
}

#handwriting-error {
    float: left;
}

#content {
    margin: auto;
    max-width: 602px;
    padding: 50px 20px 20px
}