<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<style>
    body {
        max-width: 720px;
        margin: auto;
        padding: 20px;
    }
</style>
<body>
    <h1>Notice</h1>
    <p>If you created a ticket on Saturday (11th Feb) or earlier which included a long handwritten message, some parts of the message may have been lost. About 1.5% of tickets were affected.</p>
    <p>If you think that was you, please contact {{contact_email}} and we will give you a free replacement. Sorry for the inconvenience.</p>
    <br>
    <p>You can check if your ticket was affected by inputting your ticket code into this form.</p>
    <input id="code" type="text" minlength="10" maxlength="10">
    <button id="submit">Check</button>
    <p id="error" style="color: red" hidden>Your code must be exactly 10 characters long</p>
    <p id="affected" style="color: red" hidden>Your ticket was affected. Please contact rwa2684@gmail.com with your code.</p>
    <p id="unaffected" style="color: green" hidden>Your ticket was not affected.</p>
    <br><br>
    <p>If you lost your code, you can email {{contact_email}}. Please include the name of the recipient you bought the ticket for (and ARC class if possible), and the type of item you bought (chocolate, rose, serenade or special serenade).</p>
</body>
<script>
    document.getElementById('submit').addEventListener('click', () => {
        const code = document.getElementById('code').value;
        document.getElementById('affected').hidden = true;
        document.getElementById('unaffected').hidden = true;
        if (code.length === 10) {
            document.getElementById('error').hidden = true;
            fetch("{% url 'ticketing:api_notice' %}?code=" + code)
                .then(response => response.json())
                .then((data) => {
                    if (data.affected) {
                        document.getElementById('affected').hidden = false;
                    } else {
                        document.getElementById('unaffected').hidden = false;
                    }
                })
        } else {
            document.getElementById('error').hidden = false;
        }
    });
</script>
</html>