<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redeem Ticket</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'signature_pad.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chosen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signature_pad.css' %}">
    <link rel="icon" type="image/png" href="{% static 'heart.png' %}"/>
    <style>
    </style>
</head>
<body>
    <div id="content">
        <form method="post"> {% csrf_token %}
            <h1>Redeem Your Ticket</h1>
            <div class="input" id="code-form">
                <h3>Code</h3>
                <p class="info">The code is a string of 10 random letters. You buy this in person from the prefects.</p>
                {{ form.code }}
                <p class="info" id="code_info"></p>
            </div>
            <div class="input" id="period-form" hidden="true">
                <h3>Period</h3>
                <p>Please select which period you would like the Special Serenade to happen in</p>
                {{ form.period }}
            </div>
            <div class="input" id="recipient-form">
                <h3>Recipient</h3>
                <p class="info">This is so we know who to send it to.</p>
                {{ form.recipient_id }}
            </div>
            <div class="input" id="is_handwritten-form">
                <h3>Handwritten or Typed?</h3>
                {{ form.is_handwritten }}
            </div>
            <div hidden class="input" id="typed-ticket">
                <div class="input" id="recipient_nickname-form">
                    <h3>To</h3>
                    <p class="info">This is the name <u>you</u> give to the recipient. It's what they see, so be creative!</p>
                    {{ form.recipient_nickname }}
                </div>
                <div class="input" id="message-form">
                    <h3>Message</h3>
                    {{ form.message }}
                </div>
                <div class="input" id="sender-form">
                    <h3>From</h3>
                    {{ form.message }}
                </div>
            </div>
            <div class="input" id="signature-pad">
                <h3>Message</h3>
                <canvas id="canvas"></canvas>
                <div>
                    <button type="button" id="clear">Clear</button>
                    <button type="button" id="undo">Undo</button>
                    <button type="button" id="save">Save</button>
                </div>
            </div>
            <input disabled id="redeem" type="submit" value="Redeem">
        </form>
    </div>
</body>
<script>
    function set_special_serenade(is_special_serenade) {
        is_special = is_special_serenade;
        if (is_special) {
            $('#period-form').show();
            validate_period();
        } else {
            $('#period-form').hide();
            set_period_validity(true);
        }
    }

    // wraps setting the recipient/code validity so that it also updates the button
    function set_recipient_validity(recipient_validity) {
        is_recipient_valid = recipient_validity;
        check_validity();
    }
    function set_code_validity(code_validity) {
        is_code_valid = code_validity;
        if (is_code_valid) {
            document.getElementById('id_code').style.borderColor = "lime";
        } else {
            document.getElementById('id_code').style.borderColor = "red";
            set_special_serenade(false);    // if the code is invalid, it can't be special
        }
        check_validity();
    }
    function set_period_validity(period_validity) {
        is_period_valid = period_validity;
        check_validity();
    }

    // checks if both code and recipient are valid to disable/enable submit button
    function check_validity() {
        if (is_recipient_valid && is_code_valid && is_period_valid) {
            document.querySelector('input[type="submit"]').disabled = false;
        } else {
            document.querySelector('input[type="submit"]').disabled = true;
        }
    }

    function validate_period() {
        let period = $('#id_period').val();
        if (period >= 1 && period <= 4) {
            set_period_validity(true);
        } else {
            set_period_validity(false);
        }
    }

    function validate_recipient() {
        // check if the user actually inputted someone
        let recipient = $('#id_recipient_id').val();
        if (recipient.length > 3) {
            set_recipient_validity(true);
        } else {
            set_recipient_validity(false);
        }
    }

    // btw this is also verified in the backend
    function validate_code() {
        let inputted_code = $('#id_code').val();
        if (inputted_code.length == 10) {
            document.getElementById('code_info').innerText = null;
            $.ajax({
                url: "{% url 'ticketing:validate_code' %}",
                data: {
                    'inputted_code': inputted_code
                },
                dataType: 'json',
                success: function(data) {
                    // on response from server
                    if (data.is_exists) {
                        document.getElementById('code_info').innerText = data.item_type;
                        if (data.is_unconsumed) {
                            set_code_validity(true);
                            if (data.item_type == "Special Serenade") {
                                set_special_serenade(true);
                            }
                        } else {
                            document.getElementById('code_info').innerText = "Code has already been used.";
                            set_code_validity(false);
                        }
                    } else {
                        document.getElementById('code_info').innerText = "Code doesn't exist.";
                        set_code_validity(false);
                    }
                 }
            });
        } else {
            document.getElementById('code_info').innerText = "Code must exactly 10 characters long.";
            set_code_validity(false);
        }
    }

    function set_content_mode() {
        is_handwritten = document.getElementById('id_is_handwritten').value;
        if (is_handwritten == "True") {
            $('#typed-ticket').hide();
            $('#signature-pad').show();
        } else {
            $('#typed-ticket').show();
            $('#signature-pad').hide();
        }
    }

    // check if period required for special serenade
    let is_special = false;

    // verify code
    let is_recipient_valid = false;
    let is_code_valid = false;
    let is_period_valid = true;

    $('#id_recipient_id').on('change', () => {validate_recipient(); validate_code();});
    $('#id_code').on('input', validate_code);
    $('#id_period').on('change', validate_period);

    // add dropdown search for recipient
    $('#id_recipient_id').chosen();

    // check which mode is used to write the ticket
    let is_handwritten = true;
    $('#id_is_handwritten').on('change', set_content_mode);

    // on page reload, check if a code is already filled, and validate the inputs
    window.onload = (event) => {
        if ($('#id_code').val().length > 0) {
            validate_recipient();
            validate_code();
        }
    }

    // signature pad
    const wrapper = document.getElementById("signature-pad");
    const canvas = document.getElementById("canvas");
    const signaturePad = new SignaturePad(canvas, {
      minDistance: 1,
      minWidth: 0.4,
      maxWidth: 1.5
    });

    var signaturePadData = {};
    signaturePad.addEventListener("endStroke", () => {
        signaturePadData = signaturePad.toData();
    });

    // scale canvas for retina display
    function resizeCanvas() {
        const ratio =  5;
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear();
        if (Object.keys(signaturePadData).length) {
            signaturePad.fromData(signaturePadData);
        }
    }
    window.onresize = resizeCanvas;
    resizeCanvas();

    // clear button
    const clearButton = document.getElementById("clear");
    clearButton.addEventListener("click", () => {
      signaturePad.clear();
    });

    // undo button
    const undoButton = document.getElementById("undo");
    undoButton.addEventListener("click", () => {
        if (Object.keys(signaturePadData).length) {
            signaturePadData.pop(); // remove the last dot or line
            signaturePad.fromData(signaturePadData);
        }
    });

    function download(dataURL, filename) {
      const blob = dataURLToBlob(dataURL);
      const url = window.URL.createObjectURL(blob);

      const a = document.createElement("a");
      a.style = "display: none";
      a.href = url;
      a.download = filename;

      document.body.appendChild(a);
      a.click();

      window.URL.revokeObjectURL(url);
    }

    function dataURLToBlob(dataURL) {
      const parts = dataURL.split(';base64,');
      const contentType = parts[0].split(":")[1];
      const raw = window.atob(parts[1]);
      const rawLength = raw.length;
      const uInt8Array = new Uint8Array(rawLength);

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }

      return new Blob([uInt8Array], { type: contentType });
    }

    // save button
    const saveButton = document.getElementById("save");
    saveButton.addEventListener("click", () => {
       if (signaturePad.isEmpty()) {
        alert("Please provide a signature first.");
      } else {
        const dataURL = signaturePad.toDataURL();
        download(dataURL, "signature.png");
      }
    });

</script>
</html>
