<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Redeemed!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <div id="content">
        <h1>Your ticket has been successfully redeemed.</h1>
        <br>
        <button type="button" onclick="location.href={% url 'ticketing:purchase' %}">Redeem Another</button>
    </div>
</body>
</html>