<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Redeemed!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/redeemed.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/done.svg' %}"/>
</head>
<body>
    <div id="content">
        <h1 style="text-align: center">Your ticket has been successfully redeemed!</h1>
        <br>
        <div class="centre">
            <span class="img" title="Redeem Another" id="repeat" onclick="location.href={% url 'ticketing:purchase' %}"></span>
            <p>Redeem Another</p>
        </div>
    </div>
</body>
</html>