<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redeem Ticket</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'signature_pad.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chosen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signature_pad.css' %}">
    <link rel="icon" type="image/png" href="{% static 'heart.png' %}"/>
    <style>
    </style>
</head>
<body>
    <div id="content">
        <form method="post"> {% csrf_token %}
            <h1>Redeem Your Ticket</h1>
            <div class="input" id="code-form">
                <h3>Code</h3>
                <p class="info">A string of 10 random <u>letters</u>. You buy this in person from the prefects.</p>
                {{ form.code }}
                <p hidden class="info error" id="code-error"></p>
            </div>
            <div hidden class="input" id="period-form">
                <h3>Period</h3>
                <p class="info">Please select which period you would like the Special Serenade to happen in.</p>
                {{ form.period }}
                <p hidden class="info error" id="period-error">*Required</p>
            </div>
            <div class="input" id="recipient-form">
                <h3>Recipient</h3>
                <p class="info">This is so we know who to send it to.</p>
                {{ form.recipient_id }}
                <p hidden class="info error" id="recipient-error">*Required</p>
            </div>
            <div class="input" id="is_handwritten-form">
                <h3>Handwritten or Typed?</h3>
                {{ form.is_handwritten }}
            </div>
            <div hidden class="input" id="typed-ticket">
                <div class="input" id="typed_template_form">
                    <h3>Template</h3>
                    {{ form.typed_template }}
                </div>
                <div class="input" id="recipient_nickname-form">
                    <h3>To</h3>
                    <p class="info">This is the name <u>you</u> give to the recipient. It's what they see, so be creative!</p>
                    {{ form.recipient_nickname }}
                    <p hidden class="info error" id="recipient_nickname_error">*Required</p>
                </div>
                <div class="input" id="message-form">
                    <h3>Message</h3>
                    {{ form.message }}
                    <p hidden class="info error" id="message_error">*Required</p>
                </div>
                <div class="input" id="sender-form">
                    <h3>From</h3>
                    {{ form.sender }}
                    <p hidden class="info error" id="sender_error">*Required</p>
                </div>
            </div>
            <div class="input" id="signature-pad">
                <div class="input" id="typed_template_form">
                    <h3>Template</h3>
                    {{ form.handwriting_template }}
                </div>
                <div class="input">
                    <h3>Message</h3>
                    <canvas id="canvas"></canvas>
                    <div>
                        <button type="button" id="clear">Clear</button>
                        <button type="button" id="undo">Undo</button>
                        <button type="button" id="save">Save a copy</button>
                    </div>
                    <p hidden class="info error" id="handwriting-error">*Required</p>
                </div>
            </div>
            <br>
            <button type="button" id="redeem">Redeem</button>
        </form>
    </div>
</body>
<script>
    /* INPUT VALIDATION */
    let is_special = false;
    let is_code_valid = false;
    function check_validity(event, code_validated = false) {
        console.log("Checking")
        // these are stored in variables first to prevent short-circuiting
        if (code_validated) {  // don't validate code if this was called from the is_valid_code function to prevent recursion
            var validate_code = true;
        } else {
            validate_code = is_valid_code(null, true);
        }
        let validate_period = is_valid_period();
        let validate_recipient = is_valid_recipient();
        if (document.getElementById('id_is_handwritten').value == "True") {
            var validate_content = is_valid_handwriting();
        } else {
            validate_content = is_valid_typed();
        }

        if (validate_code && validate_period && validate_recipient && validate_content) {
            document.querySelector('form').submit();
        }
    }

    // btw this is also verified in the backend
    function is_valid_code(event, submit = false) {
        document.getElementById('code-error').hidden = false;
        is_special = false;

        let inputted_code = $('#id_code').val();
        if (inputted_code.length == 10) {
            $.ajax({
                url: "{% url 'ticketing:validate_code' %}",
                data: {
                    'inputted_code': inputted_code
                },
                dataType: 'json',
                success: function(data) {
                    // on response from server
                    if (data.is_exists) {
                        if (data.is_unconsumed) {
                            document.getElementById('code-error').innerText = data.item_type;
                            document.getElementById('code-error').style.color = 'green';
                            is_code_valid = true;
                            if (data.item_type == "Special Serenade") is_special = true;
                            show_period();
                            if (submit) check_validity(null, code_validated = true);
                        } else {
                            document.getElementById('code-error').innerText = "Code has already been used.";
                            document.getElementById('code-error').style.color = 'red';
                            is_code_valid = false;
                            show_period();
                        }
                    } else {
                        document.getElementById('code-error').innerText = "Code doesn't exist.";
                        document.getElementById('code-error').style.color = 'red';
                        is_code_valid = false;
                        show_period();
                    }
                 }
            });
        } else {
            document.getElementById('code-error').innerText = "Code must exactly 10 characters long.";
            document.getElementById('code-error').style.color = 'red';
            is_code_valid = false;
            show_period();
        }
    }

    function show_period() {
        if (is_special) {
            document.getElementById('period-form').hidden = false;
        } else {
            document.getElementById('period-form').hidden = true;
        }
    }

    function is_valid_period() {
        if (is_special) {
            let period = $('#id_period').val();
            if (period >= 1 && period <= 4) {
                document.getElementById('period-error').hidden = true;
                return true;
            } else {
                document.getElementById('period-error').hidden = false;
                return false;
            }
        } else {
            return true;
        }
    }
    
    function is_valid_recipient() {
        // check if the user actually inputted someone
        let recipient = $('#id_recipient_id').val();
        if (recipient.length > 3) {
            document.getElementById('recipient-error').hidden = true;
            return true;
        } else {
            document.getElementById('recipient-error').hidden = false;
            return false;
        }
    }

    function is_valid_handwriting() {
        if (signaturePad.isEmpty()) {
            $('#handwriting-error').show();
            return false;
        } else {
            $('#handwriting-error').hide();
            return true;
        }
    }

    function is_valid_typed() {
        let validate_recipient_nickname = is_valid_recipient_nickname();
        let validate_message = is_valid_message();
        let validate_sender = is_valid_sender();
        return (validate_recipient_nickname && validate_message && validate_sender);
    }

    function is_valid_recipient_nickname() {
        if (document.getElementById('id_recipient_nickname').value.length > 0) {
            document.getElementById('recipient_nickname_error').hidden = true;
            return true;
        } else {
            document.getElementById('recipient_nickname_error').hidden = false;
            return false;
        }
    }

    function is_valid_message() {
        if (document.getElementById('id_message').value.length > 0) {
            document.getElementById('message_error').hidden = true;
            return true;
        } else {
            document.getElementById('message_error').hidden = false;
            return false;
        }
    }

    function is_valid_sender() {
        if (document.getElementById('id_sender').value.length > 0) {
            document.getElementById('sender_error').hidden = true;
            return true;
        } else {
            document.getElementById('sender_error').hidden = false;
            return false;
        }
    }

    function set_content_mode(event) {
        if (event.target.value == "True") {
            $('#typed-ticket').hide();
            $('#signature-pad').show();
        } else {
            $('#typed-ticket').show();
            $('#signature-pad').hide();
        }
    }

    document.getElementById('id_code').addEventListener('input', is_valid_code);
    document.getElementById('redeem').addEventListener('click', check_validity);

    // check which mode is used to write the ticket
    $('#id_is_handwritten').on('change', set_content_mode);

    // add dropdown search for recipient
    $('#id_recipient_id').chosen();
    

    /* SIGNATURE PAD */
    const wrapper = document.getElementById("signature-pad");
    const canvas = document.getElementById("canvas");
    const signaturePad = new SignaturePad(canvas, {
      minDistance: 1,
      minWidth: 0.4,
      maxWidth: 1.5
    });

    var signaturePadData = {};
    signaturePad.addEventListener("endStroke", () => {
        signaturePadData = signaturePad.toData();
    });

    // scale canvas for retina display
    function resizeCanvas() {
        const ratio =  5;
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear();
        if (Object.keys(signaturePadData).length) {
            signaturePad.fromData(signaturePadData);
        }
    }
    window.onresize = resizeCanvas;
    resizeCanvas();

    // clear button
    const clearButton = document.getElementById("clear");
    clearButton.addEventListener("click", () => {
      signaturePad.clear();
    });

    // undo button
    const undoButton = document.getElementById("undo");
    undoButton.addEventListener("click", () => {
        if (Object.keys(signaturePadData).length) {
            signaturePadData.pop(); // remove the last dot or line
            signaturePad.fromData(signaturePadData);
        }   
    });

    function download(dataURL, filename) {
      const blob = dataURLToBlob(dataURL);
      const url = window.URL.createObjectURL(blob);

      const a = document.createElement("a");
      a.style = "display: none";
      a.href = url;
      a.download = filename;

      document.body.appendChild(a);
      a.click();

      window.URL.revokeObjectURL(url);
    }

    function dataURLToBlob(dataURL) {
      const parts = dataURL.split(';base64,');
      const contentType = parts[0].split(":")[1];
      const raw = window.atob(parts[1]);
      const rawLength = raw.length;
      const uInt8Array = new Uint8Array(rawLength);

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }

      return new Blob([uInt8Array], { type: contentType });
    }

    // save button
    const saveButton = document.getElementById("save");
    saveButton.addEventListener("click", () => {
       if (signaturePad.isEmpty()) {
        alert("Please provide a signature first.");
      } else {
        const dataURL = signaturePad.toDataURL();
        download(dataURL, "signature.png");
      }
    });

</script>
</html>
