<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redeem Ticket</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signature_pad.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fabric.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fontfaceobserver.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/redeem.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/heart.png' %}"/>
    <style>
    </style>
</head>
<body>
    <div id="content">
        <form method="post"> {% csrf_token %}
            <h1>Redeem Your Ticket</h1>
            <div class="input" id="code-form">
                <h3>Code</h3>
                <p class="info">A string of 10 random letters. You buy this in person from the prefects.</p>
                {{ form.code }}
                <p hidden class="info error" id="code-error"></p>
            </div>
            <div hidden class="input" id="period-form">
                <h3>Period</h3>
                <p class="info">Please select which period you would like the Special Serenade to happen in.</p>
                {{ form.period }}
                <p hidden class="info error" id="period-error">*Required</p>
            </div>
            <div class="input" id="recipient-form">
                <h3>Recipient</h3>
                <p class="info">This is so we know who to send it to.</p>
                {{ form.recipient_id }}
                <p hidden class="info error" id="recipient-error">*Required</p>
            </div>
            <div class="input" id="is_handwritten-form">
                <h3>Handwrite or Type?</h3>
                <p class="info">Do you want to handwrite or type your message?</p>
                {{ form.is_handwritten }}
            </div>
            <div hidden>{{ form.message }}</div>
            <div hidden class="input" id="form_typed">
                <div class="input" id="typed_template_form">
                    <h3>Template</h3>
                    {{ form.typed_template }}
                </div>
                <div class="input">
                    <h3>Font</h3>
                    <select id="font_selector"></select>
                </div>
                <div class="input">
                    <h3>Message</h3>
                    <p class="info">Edit the placeholder text to write your message.</p>
                    <canvas id="fabric" width="600" height="356" style="border: 1px solid black"></canvas>
                    <div hidden>{{ form.recipient_nickname }}</div>
                </div>
                <p hidden class="info error" id="typed_error">*Don't forget to remove all the placeholder text first!</p>
                <div class="buttons">
                    <span class="img undo" id="fabric_undo"></span>
                    <span class="img clear" id="fabric_clear"></span>
                </div>
            </div>
            <div class="input" id="form_handwriting">
                <div class="input">
                    <h3>Template</h3>
                    {{ form.handwriting_template }}
                </div>
                <div class="input no_select">
                    <h3>Message</h3>
                    <p class="info">Handwrite a message!</p>
                    <canvas id="signature_pad"></canvas>
                    <p hidden class="info error" id="handwriting-error">*Required</p>
                    <div class="buttons">
                        <span class="img undo" id="signature_pad_undo"></span>
                        <span class="img clear" id="signature_pad_clear"></span>
                    </div>
                </div>
            </div>
            <div id="redeem-wrapper" class="centre" style="padding-top:20px">
                <span class="img" title="Redeem" id="redeem"></span>
                <p>Redeem Ticket</p>
            </div>
        </form>
        {{ form.errors }}
    </div>
</body>
<script>
    /* INPUT VALIDATION */
    let is_special = false;
    let is_code_valid = false;
    function check_validity(event, code_validated = false) {
        // these are stored in variables first to prevent short-circuiting
        if (code_validated) {  // don't validate code if this was called from the is_valid_code function to prevent recursion
            var validate_code = true;
        } else {
            validate_code = is_valid_code(null, true);
        }
        let validate_period = is_valid_period();
        let validate_recipient = is_valid_recipient();
        if (document.getElementById('id_is_handwritten').value == "True") {
            var validate_content = is_valid_handwriting();
        } else {
            validate_content = is_valid_typed();
        }

        if (validate_code && validate_period && validate_recipient && validate_content) {
            document.querySelector('form').submit();
        }
    }

    // btw this is also verified in the backend
    function is_valid_code(event, submit = false) {
        document.getElementById('code-error').hidden = false;
        is_special = false;

        let inputted_code = $('#id_code').val();
        if (inputted_code.length == 10) {
            $.ajax({
                url: "{% url 'ticketing:validate_code' %}",
                data: {
                    'inputted_code': inputted_code
                },
                dataType: 'json',
                success: function(data) {
                    // on response from server
                    if (data.is_exists) {
                        if (data.is_unconsumed) {
                            document.getElementById('code-error').innerText = data.item_type;
                            document.getElementById('code-error').style.color = '#71d16d';
                            is_code_valid = true;
                            if (data.item_type == "Special Serenade") is_special = true;
                            show_period();
                            if (submit) check_validity(null, code_validated = true);
                        } else {
                            document.getElementById('code-error').innerText = "Code has already been used.";
                            document.getElementById('code-error').style.color = 'red';
                            is_code_valid = false;
                            show_period();
                        }
                    } else {
                        document.getElementById('code-error').innerText = "Code doesn't exist.";
                        document.getElementById('code-error').style.color = 'red';
                        is_code_valid = false;
                        show_period();
                    }
                 }
            });
        } else {
            document.getElementById('code-error').innerText = "Code must be exactly 10 characters long.";
            document.getElementById('code-error').style.color = 'red';
            is_code_valid = false;
            show_period();
        }
    }

    function show_period() {
        if (is_special) {
            document.getElementById('period-form').hidden = false;
        } else {
            document.getElementById('period-form').hidden = true;
        }
    }

    function is_valid_period() {
        if (is_special) {
            let period = $('#id_period').val();
            if (period >= 1 && period <= 4) {
                document.getElementById('period-error').hidden = true;
                return true;
            } else {
                document.getElementById('period-error').hidden = false;
                return false;
            }
        } else {
            return true;
        }
    }
    
    function is_valid_recipient() {
        // check if the user actually inputted someone
        let recipient = $('#id_recipient_id').val();
        if (recipient.length > 3) {
            document.getElementById('recipient-error').hidden = true;
            return true;
        } else {
            document.getElementById('recipient-error').hidden = false;
            return false;
        }
    }

    function is_valid_handwriting() {
        if (signaturePad.isEmpty()) {
            $('#handwriting-error').show();
            return false;
        } else {
            $('#handwriting-error').hide();
            dataURLToBlob(signaturePad.toDataURL("image/svg+xml")).text().then(image_bytes => {
                document.getElementById('id_message').value = image_bytes;
            });
            return true;
        }
    }

    function is_valid_typed() {
        fabric_canvas.discardActiveObject();
        if (fabric_canvas_data.includes(`"text":"Placeholder"`)) {
            document.getElementById('typed_error').hidden = false;
            return false;
        } else {
            document.getElementById('typed_error').hidden = true;
            fabric_canvas.backgroundImage = null;
            document.getElementById('id_message').value = fabric_canvas.toSVG();
            return true;
        }
    }

    function dataURLToBlob(dataURL) {
      const parts = dataURL.split(';base64,');
      const contentType = parts[0].split(":")[1];
      const raw = window.atob(parts[1]);
      const rawLength = raw.length;
      const uInt8Array = new Uint8Array(rawLength);

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }

      return new Blob([uInt8Array], { type: contentType });
    }

    // only allow letters in code input and automatically make uppercase
    document.getElementById('id_code').addEventListener('input', (event) => {
        let inputted_code = event.target.value;
        inputted_code = inputted_code.toUpperCase();
        inputted_code = inputted_code.replace(/[^a-z]/gi, '');
        event.target.value = inputted_code;
    });

    document.getElementById('id_code').addEventListener('input', is_valid_code);
    document.getElementById('redeem').addEventListener('click', check_validity);

    /* CHOOSING CONTENT MODE AND TEMPLATE*/
    document.getElementById('id_is_handwritten').addEventListener('change', () => {
        if (event.target.value == "True") {
            $('#form_typed').hide();
            $('#form_handwriting').show();
        } else {
            $('#form_typed').show();
            $('#form_handwriting').hide();
        }
    })

    // add dropdown search for recipient
    $('#id_recipient_id').chosen({
        placeholder_text_single: "Select a person..."
    });
    

    /* SIGNATURE PAD */
    const wrapper = document.getElementById("form_handwriting");
    const canvas = document.getElementById("signature_pad");
    const signaturePad = new SignaturePad(canvas, {
      minDistance: 1,
      minWidth: 0.7,
      maxWidth: 1.5
    });

    var signaturePadData = {};
    var signaturePadDataBackup = {};    // to allow you to undo clearing
    signaturePad.addEventListener("endStroke", () => {
        signaturePadData = signaturePad.toData();
    });

    // scale canvas for retina display
    function resizeCanvas() {
        const ratio = 5;
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear();
        if (Object.keys(signaturePadData).length) {
            signaturePad.fromData(signaturePadData);
        }
    }
    window.onresize = resizeCanvas;
    resizeCanvas();

    // clear button
    document.getElementById("signature_pad_clear").addEventListener("click", () => {
        signaturePad.clear();
        if (Object.keys(signaturePadData).length) signaturePadDataBackup = signaturePadData;
        signaturePadData = {};
    });

    // undo button
    document.getElementById("signature_pad_undo").addEventListener("click", () => {
        if (Object.keys(signaturePadData).length) {
            signaturePadData.pop(); // remove the last dot or line
            signaturePad.fromData(signaturePadData);
        } else if (Object.keys(signaturePadDataBackup).length) {
            signaturePad.fromData(signaturePadDataBackup);
        }
    });

    // choosing handwritten template
    document.getElementById('id_handwriting_template').addEventListener('change', (event) => {
        let template = event.target.value;
            if (template == "0") {
                document.getElementById('signature_pad').style.background = "#fdfdfd";
            } else if (template == "1") {
                document.getElementById('signature_pad').style.background = "url({% static 'templates/classic_template.svg' %}) 0% 0%/600px 356px";
            }
    })

    /* FABRIC */

    /* Loading Template */
    function load_background_image(template_src, default_font) {
        fabric_canvas.clear();

        fabric.Image.fromURL(template_src, function(img) {
            fabric_canvas.setBackgroundImage(img, fabric_canvas.renderAll.bind(fabric_canvas), {
                scaleX: fabric_canvas.width / img.width,
                scaleY: fabric_canvas.height / img.height
            });
            load_font(default_font);
        });
    }

    function initialise_classic_template() {
        load_background_image("{% static 'templates/classic_template.svg' %}", 'Calibri');
        let text1 = new fabric.IText('Placeholder', {left: 18, top: 60, fontSize: 30});
        let text2 = new fabric.IText('Placeholder', {left: 170, top: 164, fontSize: 30})
        let text3 = new fabric.IText('Placeholder', {left: 102, top: 212, fontSize: 30})
        let text4 = new fabric.IText('Placeholder', {left: 102, top: 260, fontSize: 30})
        let text5 = new fabric.IText('Placeholder', {left: 157, top: 308, fontSize: 30})
        fabric_canvas.add(text1, text2, text3, text4, text5);
    }

    function initialise_template() {
        template = document.getElementById('id_typed_template').value;
        if (template == 1) {
            initialise_classic_template();
        }
    }

    document.getElementById('id_typed_template').addEventListener('change', (event) => {
        initialise_template();
    })

    
    /* Undo & Clear */
    var fabric_canvas_data;
    var undo_history = [];

    function save() {       // this should not be called by itself. only called by load font and event listeners
        // initial call won't have a state
        if (fabric_canvas_data) {
            undo_history.push(fabric_canvas_data);
            $('#fabric_undo').prop('disabled', false);
        }
        fabric_canvas_data = JSON.stringify(fabric_canvas);
    }

    // clear button
    document.getElementById("fabric_clear").addEventListener("click", () => {
        initialise_template();
    });

    // undo button
    document.getElementById("fabric_undo").addEventListener("click", () => {
        if (undo_history.length > 0) {
            fabric_canvas_data = undo_history.pop();
            this.disabled = true;
            fabric_canvas.clear();
            fabric_canvas.loadFromJSON(fabric_canvas_data, function() {
                fabric_canvas.renderAll();
                this.disabled = false;
            });
        }
    });

    /* Init */
    const fabric_canvas = new fabric.Canvas('fabric');

    fabric_canvas.on('object:modified', function() {
        save();
    });

    /* Load Fonts */
    function load_font(font) {
        if (font == undefined) {
            var font = document.getElementById("font_selector").value;
        }
        
        let myfont = new FontFaceObserver(font);
        myfont.load()
            .then(function() {
                fabric_canvas.getObjects().forEach(function(object) {object.set("fontFamily", font);})
                fabric_canvas.requestRenderAll();
                save();
            }).catch(function(e) {
                console.log(e)
                alert('Failed to load font: ' + font);
        });
    }

    let fonts = ["Calibri", "Chasing Hearts", "Delique", "Heartales", "Hello Valentine", "La Rosse", "Love Letters", "Roschetta"];
    let font_selector = document.getElementById("font_selector");
    fonts.forEach(function(font) {
        let option = document.createElement('option');
        option.innerHTML = font;
        option.value = font;
        font_selector.appendChild(option);
    });

    font_selector.onchange = function() {
        load_font();
    }

    initialise_template();
</script>
</html>
