<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redeem Ticket</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/choices.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/redeem.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/heart.png' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.4/dist/signature_pad.umd.min.js" integrity="sha256-9WcA0fSt3eVJuMgyitGmuRK/c86bZezvLcAcVMWW42s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric@5.3.0-browser/dist/fabric.min.js" integrity="sha256-SPjwkVvrUS/H/htIwO6wdd0IA8eQ79/XXNAH+cPuoso=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fontfaceobserver@2.3.0/fontfaceobserver.standalone.min.js"></script>
</head>
<body>
    <div id="content">
        <form method="post"> {% csrf_token %}
            <h1>Redeem Your Ticket</h1>
            <div class="input" id="code-form">
                <h3>Code</h3>
                <p class="info">A string of 10 random letters. You buy this in person from the prefects.</p>
                {{ form.code }}
                <p hidden class="info error" id="code-error"></p>
            </div>
            <div hidden class="input" id="period-form">
                <h3>Period</h3>
                <p class="info">Please select which period you would like the Special Serenade to happen in.</p>
                {{ form.period }}
                <p hidden class="info error" id="period-error">*Required</p>
            </div>
            <div class="input" id="recipient-form">
                <h3>Recipient</h3>
                {{ form.recipient_id }}
                <p hidden class="info error" id="recipient-error">*Required</p>
            </div>
            <div class="input" id="is_handwritten-form">
                <h3>Handwrite or Type?</h3>
                {{ form.is_handwritten }}
            </div>
            <div hidden>{{ form.message }}</div>
            <div hidden class="input" id="form_typed">
                <div class="input" id="typed_template_form">
                    <h3>Template</h3>
                    {{ form.typed_template }}
                </div>
                <div class="input">
                    <h3>Font</h3>
                    <select id="font_selector"></select>
                </div>
                <div class="input">
                    <h3>Message</h3>
                    <p class="info">Edit the placeholder text to write your message.</p>
                    <canvas id="fabric" width="600" height="356" style="border: 1px solid black"></canvas>
                </div>
                <p hidden class="info error" id="typed_error">*Don't forget to remove all the placeholder text first!</p>
                <div class="buttons">
                    <span class="img undo" id="fabric_undo"></span>
                    <span class="img clear" id="fabric_clear"></span>
                </div>
            </div>
            <div class="input" id="form_handwriting">
                <div class="input">
                    <h3>Template</h3>
                    {{ form.handwriting_template }}
                </div>
                <div class="input no_select">
                    <h3>Message</h3>
                    <p class="info">Handwrite a message!</p>
                    <canvas id="signature_pad"></canvas>
                    <p hidden class="info error" id="handwriting-error">*Required</p>
                    <div class="buttons">
                        <span class="img undo" id="signature_pad_undo"></span>
                        <span class="img clear" id="signature_pad_clear"></span>
                    </div>
                </div>
            </div>
            <div id="redeem-wrapper" class="centre" style="padding-top:20px">
                <span class="img" title="Redeem" id="redeem"></span>
                <p>Redeem Ticket</p>
            </div>
        </form>
        {{ form.errors }}
    </div>
</body>
<script>
    let validate_code_url = "{% url 'ticketing:validate_code' %}";
    let classic_template_path = "{% static 'templates/classic_template.svg' %}";
</script>
    <script type="text/javascript" src="{% static 'js/redeem.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signature_pad.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fabric.js' %}"></script>
</html>
