<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redeem Ticket</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/choices.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/redeem.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/heart.png' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.4/dist/signature_pad.umd.min.js" integrity="sha256-9WcA0fSt3eVJuMgyitGmuRK/c86bZezvLcAcVMWW42s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric@5.3.0-browser/dist/fabric.min.js" integrity="sha256-SPjwkVvrUS/H/htIwO6wdd0IA8eQ79/XXNAH+cPuoso=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fontfaceobserver@2.3.0/fontfaceobserver.standalone.min.js"></script>
</head>
<body>
    <div id="content">
        <h1>Redeem Your Ticket</h1>
        <div class="input">
            <h3>Code</h3>
            <p class="info">A string of 10 random letters. You buy this in person from the prefects.</p>
            <input type="text" title="Ticket Code" maxlength="10" minlength="10" required id="code">
            <p hidden class="info error" id="codeError"></p>
        </div>
        <div hidden class="input" id="periodForm">
            <h3>Period</h3>
            <p class="info">Please select which period you would like the Special Serenade to happen in.</p>
            <select id="period">
              <option value="-">-</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <p hidden class="info error" id="periodError">*Required</p>
        </div>
        <div class="input">
            <h3>Recipient</h3>
            <select title="Select Recipient" id="recipient"></select>
            <p hidden class="info error" id="recipientError">*Required</p>
        </div>
        <div class="input">
            <h3>Handwrite or Type?</h3>
            <select title="Choose whether handwritten or typed" id="is_handwritten">
              <option value="True">Handwrite</option>
              <option value="False">Type</option>
            </select>
        </div>
        <div hidden class="input" id="formTyped">
            <div class="input">
                <h3>Template</h3>
                <select title="Typed Template" id="typed_template">
                    <option value="Blank" selected>Blank</option>
                </select>
            </div>
            <div class="input">
                <h3>Font</h3>
                <select title="Font" id="font_selector"></select>
            </div>
            <div class="input">
                <h3>Message</h3>
                <p class="info">Create/edit/delete text boxes to write your message.</p>
                <canvas id="fabric" width="600" height="356" style="border: 1px solid black"></canvas>
            </div>
            <div class="buttons typed">
                <span class="img add" id="fabric_add"></span>
                <span class="img undo" id="fabric_undo"></span>
                <span class="buttonDivider"></span>
                <span class="img reset" id="fabric_reset"></span>
                <span class="img clear" id="fabric_clear"></span>
            </div>
            <p hidden class="info error" id="tooManyTextBoxesError">*Chill with the text boxes! Hint: each text box can contain multiple lines.</p>
            <p hidden class="info error" id="weirdCharactersError">*Emojis and some special characters will not show correctly when printing.</p>
            <p hidden class="info error" id="overFlowingError">*Some parts of your message (or a textbox) may be outside the box or too close to the edge.</p>
            <p hidden class="info error" id="typedError">*Your message is blank!</p>
        </div>
        <div class="input" id="formHandwriting">
            <div class="input">
                <h3>Template</h3>
                <select title="Handwriting Template" id="handwriting_template">
                  <option value="Blank" selected>Blank</option>
                </select>
            </div>
            <div class="input no_select">
                <h3>Message</h3>
                <p class="info">Handwrite a message!</p>
                <canvas id="signature_pad"></canvas>
                <p hidden class="info error" id="handwritingError">*Required</p>
                <div class="buttons">
                    <span class="img undo" id="signature_pad_undo"></span>
                    <span class="buttonDivider"></span>
                    <span class="img clear" id="signature_pad_clear"></span>
                </div>
            </div>
        </div>
        <p hidden id="errors" style="color: red"></p>
        <div class="centre" style="padding-top:20px">
            <span class="img" title="Redeem" id="redeem"></span>
            <p>Redeem Ticket</p>
        </div>
    </div>
</body>
<script>
    const csrf_token = "{{csrf_token}}";
    const students = {{students|safe}};
    const templates = {{templates|safe}};
    const fonts = {{fonts|safe}};
    const redeemed_url = "{% url 'ticketing:redeemed' %}";
    const validate_code_url = "{% url 'ticketing:api_validate_code' %}";
    const redeem_api_path = "{% url 'ticketing:api_redeem' %}";
    const static_path = "{% static '' %}";
    const contact_email = "{{contact_email}}";
</script>
    <script type="text/javascript" src="{% static 'js/redeem.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signature_pad.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fabric.js' %}"></script>
</html>

