<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/math.svg' %}"/>
</head>
<body>
<div id="content">
    <h1>Stats</h1>
    <table>
      <tr>
        <th>Item</th>
        <th>Amount Created</th>
        <th>Amount Redeemed</th>
      </tr>
      <tr>
        <td>Chocolate</td>
        <td id="chocolates_created"></td>
        <td id="chocolates_redeemed"></td>
      </tr>
      <tr>
        <td>Roses</td>
        <td id="roses_created"></td>
        <td id="roses_redeemed"></td>
      </tr>
      <tr>
        <td>Serenades</td>
        <td id="serenades_created"></td>
        <td id="serenades_redeemed"></td>
      </tr>
      <tr>
        <td>Special Serenades</td>
        <td id="special_serenades_created"></td>
        <td id="special_serenades_redeemed"></td>
      </tr>
       <tr>
        <td><b>Total</b></td>
        <td id="total_created"></td>
        <td id="total_redeemed"></td>
      </tr>
    </table>
    <br>
    <table style="text-align: center">
      <tr>
        <th>Grade of Recipients</th>
        <th>Number of Tickets</th>
      </tr>
      <tr>
        <td>7</td>
        <td id="grade_7"></td>
      </tr>
      <tr>
        <td>8</td>
        <td id="grade_8"></td>
      </tr>
      <tr>
        <td>9</td>
        <td id="grade_9"></td>
      </tr>
      <tr>
        <td>10</td>
        <td id="grade_10"></td>
      </tr>
      <tr>
        <td>11</td>
        <td id="grade_11"></td>
      </tr>
      <tr>
        <td>12</td>
        <td id="grade_12"></td>
      </tr>
    </table>
    <button id="refresh">Refresh</button>
    <br/><br/>
    <h2 id="graphPlaceholder">Loading graph...</h2>
    <div hidden id="graphs">
        <h2>Ticket Redemptions Over Time</h2>
        <div id="graph"></div>
        <h2>Cumulative Redemptions</h2>
        <div id="graphCumulative"></div>
    </div>
</div>
</body>
<script>
    function refresh() {
        fetch("{% url 'ticketing:api_count' %}")
        .then((response) => response.json())
        .then((data) => {
            document.getElementById('chocolates_created').innerText = data.chocolates_created;
            document.getElementById('chocolates_redeemed').innerText = data.chocolates_redeemed;
            document.getElementById('roses_created').innerText = data.roses_created;
            document.getElementById('roses_redeemed').innerText = data.roses_redeemed;
            document.getElementById('serenades_created').innerText = data.serenades_created;
            document.getElementById('serenades_redeemed').innerText = data.serenades_redeemed;
            document.getElementById('special_serenades_created').innerText = data.special_serenades_created;
            document.getElementById('special_serenades_redeemed').innerText = data.special_serenades_redeemed;
            document.getElementById('total_created').innerHTML = `<b>${data.chocolates_created + data.roses_created + data.serenades_created + data.special_serenades_created}</b>`;
            document.getElementById('total_redeemed').innerHTML = `<b>${data.chocolates_redeemed + data.roses_redeemed + data.serenades_redeemed + data.special_serenades_redeemed}</b>`;

            document.getElementById('grade_7').innerText = data.grade_7;
            document.getElementById('grade_8').innerText = data.grade_8;
            document.getElementById('grade_9').innerText = data.grade_9;
            document.getElementById('grade_10').innerText = data.grade_10;
            document.getElementById('grade_11').innerText = data.grade_11;
            document.getElementById('grade_12').innerText = data.grade_12;
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    document.getElementById('refresh').addEventListener('click', () => {
        document.getElementById('refresh').disabled = true;
        setTimeout(() => {
            document.getElementById('refresh').disabled = false;
        }, 1000);
        refresh();
    });

    function makeGraph(div, xData, yData) {
        const maxWidth = Math.min(document.querySelector('h1').offsetWidth, 600);
        div.style = `width: ${maxWidth}px; height: ${maxWidth * 0.66}px;`;
        Plotly.newPlot(div, [{
            x: xData,
            y: yData,
            type: 'scatter',
        }], {
            margin: {t: 20, b: 18, l: 32, r: 10},
        }, {
            modeBarButtonsToRemove: ['autoScale2d'],
            displaylogo: false,
        });
    }

    function getGraph() {
        fetch("{% url 'ticketing:api_graph' %}")
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                if (data.success === "true") {
                    makeGraph(document.getElementById('graph'), data.xData, data.yData);

                    let cumulative = 0;
                    let yDataCumulative = [];
                    for (let i = 0; i < data.yData.length; i++) {
                        cumulative += data.yData[i];
                        yDataCumulative.push(cumulative);
                    }
                    makeGraph(document.getElementById('graphCumulative'), data.xData, yDataCumulative);
                    document.getElementById('graphs').hidden = false;
                }
                document.getElementById('graphPlaceholder').hidden = true;
            })
            .catch((error) => {
               console.error('Error:', error);
            });
    }

    window.onload = () => {refresh(); getGraph();}
</script>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
</html>