<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'icons/math.svg' %}"/>
</head>
<body>
<div id="content">
    <h1>Stats</h1>
    <table>
      <tr>
        <th>Item</th>
        <th>Number of Created</th>
        <th>Number of Redeemed</th>
      </tr>
      <tr>
        <td>Chocolate</td>
        <td id="chocolates_created"></td>
        <td id="chocolates_redeemed"></td>
      </tr>
      <tr>
        <td>Roses</td>
        <td id="roses_created"></td>
        <td id="roses_redeemed"></td>
      </tr>
      <tr>
        <td>Serenades</td>
        <td id="serenades_created"></td>
        <td id="serenades_redeemed"></td>
      </tr>
      <tr>
        <td>Special Serenades</td>
        <td id="special_serenades_created"></td>
        <td id="special_serenades_redeemed"></td>
      </tr>
       <tr>
        <td><b>Total</b></td>
        <td id="total_created"></td>
        <td id="total_redeemed"></td>
      </tr>
    </table>
    <button id="refresh">Refresh</button>
</div>
</body>
<script>
    $('#sort').on('click', () => {
        this.hide();
        setTimeout(() => {
            this.show();
        }, 5000);
    });

    function refresh() {
        $.getJSON('{% url 'ticketing:stats' %}', "count", (data) => {
            $('#chocolates_created')[0].innerText = data.chocolates_created;
            $('#chocolates_redeemed')[0].innerText = data.chocolates_redeemed;
            $('#roses_created')[0].innerText = data.roses_created;
            $('#roses_redeemed')[0].innerText = data.roses_redeemed;
            $('#serenades_created')[0].innerText = data.serenades_created;
            $('#serenades_redeemed')[0].innerText = data.serenades_redeemed;
            $('#special_serenades_created')[0].innerText = data.special_serenades_created;
            $('#special_serenades_redeemed')[0].innerText = data.special_serenades_redeemed;
            $('#total_created')[0].innerHTML = `<b>${data.chocolates_created + data.roses_created + data.serenades_created + data.special_serenades_created}</b>`;
            $('#total_redeemed')[0].innerHTML = `<b>${data.chocolates_redeemed + data.roses_redeemed + data.serenades_redeemed + data.special_serenades_redeemed}</b>`;
        });
    }

    $('#refresh').on('click', () => {
        document.getElementById('refresh').disabled = true;
        setTimeout(() => {
            document.getElementById('refresh').disabled = false;
        }, 1000);
        refresh();
    });

    window.onload = () => {refresh();}
</script>
</html>