<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort Tickets</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    <table>
      <tr>
        <th>Item</th>
        <th>Amount Created</th>
        <th>Amount Redeemed</th>
      </tr>
      <tr>
        <td>Chocolate</td>
        <td id="chocolates_created"></td>
        <td id="chocolates_redeemed"></td>
      </tr>
      <tr>
        <td>Roses</td>
        <td id="roses_created"></td>
        <td id="roses_redeemed"></td>
      </tr>
      <tr>
        <td>Serenades</td>
        <td id="serenades_created"></td>
        <td id="serenades_redeemed"></td>
      </tr>
      <tr>
        <td>Special Serenades</td>
        <td id="special_serenades_created"></td>
        <td id="special_serenades_redeemed"></td>
      </tr>
    </table>
    <button id="refresh">Refresh</button>
</body>
<script>
    $('#sort').on('click', () => {
        this.hide();
        setTimeout(() => {
            this.show();
        }, 5000);
    });

    function refresh() {
        $.getJSON('{% url 'ticketing:sort' %}', "count", (data) => {
            $('#chocolates_created')[0].innerText = data.chocolates_created;
            $('#chocolates_redeemed')[0].innerText = data.chocolates_redeemed;
            $('#roses_created')[0].innerText = data.roses_created;
            $('#roses_redeemed')[0].innerText = data.roses_redeemed;
            $('#serenades_created')[0].innerText = data.serenades_created;
            $('#serenades_redeemed')[0].innerText = data.serenades_redeemed;
            $('#special_serenades_created')[0].innerText = data.special_serenades_created;
            $('#special_serenades_redeemed')[0].innerText = data.special_serenades_redeemed;
        });
    }

    $('#refresh').on('click', () => {
        document.getElementById('refresh').disabled = true;
        setTimeout(() => {
            document.getElementById('refresh').disabled = false;
        }, 1000);
        refresh();
    });

    window.onload = () => {refresh();}
</script>
</html>