<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tickets.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    <div id="content">
        <h1>Sort Ticket Request #{{pk}}</h1>
        <p class="info">Date Created: {{ date }}</p>
        <table id="groups">
            <tr>
                <th>Group</th>
                <th>Number of Tickets</th>
                <th>Tickets PDF</th>
              </tr>
        </table>
        <button id="generate_all">Generate All</button>
    </div>
</body>
<script>
    // Generate table
    let table = document.getElementById("groups");
    let group_data = {{ group_data|safe }};
    let generating = [];

    function refresh() {
        // clear table
        let table_length = table.rows.length;
        for (let i = 1; i < table_length; i++) {
            table.deleteRow(1);
        }

        // rebuild table
        for (let group of Object.keys(group_data)) {
            let row = table.insertRow(table.rows.length);
            row.id = group;

            let group_code = row.insertCell(0);
            group_code.innerHTML = group;

            let num_tickets = row.insertCell(1);
            num_tickets.innerHTML = group_data[group]["num_tickets"];

            let tickets_pdf = row.insertCell(2);
            tickets_pdf.id = `${group}_pdf`;
            if (group_data[group]['is_printed']) {
                // if already generated
                let link = document.createElement('a');
                let text = document.createTextNode("Download");
                link.appendChild(text);
                link.title = "Generated PDF of tickets for group";
                link.href = `${"{{pk}}"}/${group}`;
                tickets_pdf.appendChild(link);
            } else {
                let generate_button = document.createElement('button');
                if (generating.includes(group)) {
                    // if currently generating
                    generate_button.disabled = true;
                    generate_button.innerHTML = "Generating..."
                } else {
                    // if not yet generated
                    generate_button.innerHTML = "Generate"
                    generate_button.onclick = (event) => {
                        generate_button.disabled = true;
                        generate_button.innerHTML = "Generating..."
                        generating.push(group);
                        $.getJSON('{% url 'ticketing:print' %}', {'pk': "{{ pk }}", "group": group}, (data) => {
                            group_data[group]['is_printed'] = true;
                            generating.splice(generating.indexOf(group), 1);
                            refresh();
                        });
                    };
                }
                tickets_pdf.appendChild(generate_button);
            }
        }
    }

    let generate_all_button = document.getElementById('generate_all');
    generate_all_button.onclick = () => {
        // get the groups which haven't been printed yet
        let groups = Object.keys(group_data).filter((group) => {return !group_data[group]['is_printed']});
        generating = [...groups];
        // disable further print requests
        refresh();
        generate_all_button.innerHTML = "Generating all...";
        generate_all_button.disabled = true;

        // loop through every group sequentially
        let group_index = 0;
        function get_next_group() {
            let group = groups[group_index];
            $.getJSON('{% url 'ticketing:print' %}', {'pk': "{{ pk }}", "group": group}, (data) => {
                group_data[group]['is_printed'] = true;
                generating.splice(generating.indexOf(group), 1);
                refresh();
                group_index += 1;
                if (generating.length > 0) get_next_group();
            });
        }
        get_next_group();
    };

    refresh();
</script>
</html>