<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Uploaded!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/upload.svg' %}"/>
</head>
<body>
    <div id="content">
        <h1>Successfully Loaded</h1>
        <p>Go <a href="/admin/ticketing/recipient/">here</a> to see the people.</p>
    </div>
</body>
</html>